
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('assets/variables.css');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    transition: 0.5s ease-in-out;
    scroll-behavior: smooth;
    
}
::-webkit-scrollbar
{
    width: 10px;
}
::-webkit-scrollbar-track
{
    background: var(--bgcol);

}
::-webkit-scrollbar-thumb
{
    background: #888;
}
::-webkit-scrollbar-thumb:hover
{
    background: #777;
}

::selection
{
    background: var(--yellow);
    color: #000;
}

body{
    background-color: var(--darkGray);
    color: white;
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 400;
}

.navbar
{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:30px 10%;

}
.navbar li{
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}
.navbar .menu
{
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
.navbar .menu li a
{
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 500;
    padding:4vh;
    transition: ease 0.5s;

}
.navbar .menu li a:hover
{
    color: var(--yellow);
}


.heroWrapper{
    background:  url(../images/hero.jpg) no-repeat center center;
    background-size: cover;
    min-height: 100vh;
    height: 100vh auto;
    width: 100%;
    position: relative;
    filter:blur(0px);
    box-shadow: inset 0 0 0 2000px rgba(0,0,0,0.5);
}


.blinking-cursor::after{
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--yellow);
    animation: blinking-cursor 1s infinite;
}

.hero{
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding:6.4rem;
    font-size:2.7rem;   
    color: #fff;
    margin-top:6.5rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom:10rem;
}
.hero button
{
    background:none;
    color: #fff;
    border: #fff solid 5px;
    padding: 1.5rem 3rem;
    font-size: 1.4rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 50px;
    margin-top:7rem;

}
.hero h1
{
    font-size: 6.2rem;
    font-weight: 800;
    margin-bottom: 1.3rem;
}
.hero p
{
    font-size: 2.7rem;
    font-weight: 500;
    margin-bottom: 2.7rem;
}
.hero button:hover
{
    background: #fff;
    color: #000;
    border: #fff solid 5px;
}
.divider
{
    width: 100%;
    height: 1px;
    background: #fff;
}

.contentWrapper
{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    height:100vh auto;
    background: var(--darkGray);
    flex-wrap:wrap;
    padding-bottom:6vh;
    padding-top:6vh;

}
.contentWrapper .content
{
    width: 20rem;
    height:40vh;
    background-color: var(--lightGray);
    align-items: center;
    justify-content: center;
    text-align: center;
}
.card {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 65px;
    grid-template-areas: "image" "text";
    border-radius: 18px;
    background-color: var(--bgcol);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    font-family: roboto;
    text-align: center;
    transition: 0.5s ease;
    margin:30px;
}
.card-image {
    grid-area: image;
  }
  .card-text {
    grid-area: text;
  }
  .card-stats {
    grid-area: stats; 
  }
  .card-image {
    grid-area: image;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}
.card-text {
    grid-area: text;
    margin: 25px;
  }
  .card-text .date {
    color: rgb(255, 7, 110);
    font-size:13px;
  }
  .card-text p {
    color: grey;
    font-size:15px;
    font-weight: 300;
  }
  .card-text h2 {
    margin-top:0px;
    font-size:28px;
  }
  #card:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
    cursor:pointer;

  }
  a .card-text h2{
    text-decoration: none;
    color: white;

  }
  a{
    text-decoration: none;
  }
  
.logoIcon:hover
{
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
}
.contact{
    margin-top:10vh;
    margin-bottom:10vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
    padding: 0 10%;
    min-height: 80vh;
    height: 100vh auto;
    background: var(--darkGray);
    
}
.contact .contactText{
    width: 100%;
    height: 5rem auto;
    background: none;
    border: none;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 2rem;
    outline: none;
    min-height: 5rem;
}
.contact input{
    width: 100%;
    height: 5rem;
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 2rem;
    outline: none;
}
.contact textarea{
    width: 100%;
    height: 10rem;
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 2rem;
    outline: none;
    resize:none;
}
.contact #submit{
    width: 100%;
    height: 5rem;
    background: none;
    border: 1px solid #fff;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 2rem;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.contact #submit:hover{
    background: #fff;
    color: #000;
}
.footer
{
    background: #090907;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

}
.semifooter{
    background: #090909;
    width:100%;
    height:13vh auto;
    display: flex;
    justify-content:center;
    align-items: center;

    
}
.semifooter .icon{
    margin: 2rem;
    background-color: var();
    width: 2rem;
    height: 2rem;
    border-radius: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.semifooter .icon:hover{
    background-color: var(--lightGray);
    transition: 0.33s ease-in-out;
    cursor: pointer;
    transform: scale(1.1);
}
.footer p
{
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 1.6rem;
    margin-top:1.6rem;
    
}
.footerText
{
    font-size: 1.4rem;
    font-weight: 500;
}
@media screen and (max-width: 1200px)
{
    .contentWrapper
    {
        padding: 0 5%;
    }
    .contentWrapper .content
    {
        width: 40%;
        height: 40%;
    }

}
@media screen and (max-width: 768px)
{
    body{
        overflow-x: hidden;
    }
    #card::hover{
        transform: scale(1.01);
    }
    .contentWrapper
    {
        padding: 0 5%;
    }
    .contentWrapper .content
    {
        width: 100%;
        height: 40%;
    }

    .heroText{
        font-size: 2rem;
    }
    .heroText h1{
        font-size: 3.4rem;
    }
    .contentWrapper
{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    height:100vh auto;
    background: var(--darkGray);
    flex-wrap:wrap;
    padding-bottom:6vh;
    padding-top:6vh;

}
.navbar
{
    display:flex;
    justify-content: center;
    align-items: center;
}
.navbar .menu
{
    display: flex;
    align-items: center;

}
.navbar .menu li a
{
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 500;
    padding:1.5vh;
    transition: ease 0.5s;

}

}
.shelterDescription{
    display: flex;

    background: var(--darkGray);
}
.headerShelter{
    margin-top:12vh;
    display: flex;
    justify-content: center;
    text-align: center;
}
.headerShelter h1{
    font-size: 3.5rem;
    font-weight: 600;
    color: #fff;
}
.aboutShelter{
    min-height: 100vh;
    height: 100vh auto;
    margin-top: 5vh;
    display: flex;
    justify-content: space-around;
    height:100vh auto;
    min-height: 60vh;
    margin-bottom: 5vh;
}
.aboutShelter .text{
    padding: 15px;
    width: 45%;
    height: 25% auto;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.8rem;
    border: #fff 2px solid;
    border-radius: 10px;
    align-self: center;
    word-spacing: 0.25rem;
}
.aboutShelter .image{
    width: 650px;
    height: 450px;
    border: #DDD 3px solid;
    border-radius: 10px;
    background-size: cover;
    align-self: center;
}
.aboutShelter .text h4{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    margin-top: 0.5rem;
    color: var(--yellow);
}
.sWrapper{
 
}
.shelterContentWrap{
    display: flex;
    justify-content: space-around;
    width:100%;
}
.galleryWrap
{
    
}
.aboutShelter .localization{
    width: 250px;
    height: 25% auto;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.8rem;
    border: #fff 4px solid;
    border-radius: 10px;
    align-self: center;
}
@media screen and (max-width: 1250px)
{
    .shelterContentWrap{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .aboutShelter{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 4rem;
    }
    .aboutShelter .text{
        width: 100%;
        border-radius: 0px 0px 0px 0px;
        font-size:  1.0rem;
    }
    .aboutShelter .image{
        width: 100%;
        border-radius: 0px 0px 0px 0px;
    }
}
@media screen and (max-width: 768px)
{
    .aboutShelter{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .aboutShelter .text{
        width: 80%;
    }
    .aboutShelter .image{
        width: 80%;
    }

}

  