
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('assets/variables.css');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    transition: 0.5s ease-in-out;
    scroll-behavior: smooth;
}
::-webkit-scrollbar
{
    width: 10px;
}
::-webkit-scrollbar-track
{
    background: var(--bgcol);

}
::-webkit-scrollbar-thumb
{
    background: #888;
}
::-webkit-scrollbar-thumb:hover
{
    background: #777;
}


body{
    background-color: var(--bgcol);
    color: white;
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 400;

}

.navbar
{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:30px 10%;

}
.navbar li{
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}
.navbar .menu
{
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
.navbar .menu li a
{
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 500;
    padding:4vh;
    transition: ease 0.5s;

}
.navbar .menu li a:hover
{
    color: var(--yellow);
}


.heroWrapper{
    background:  url(../images/hero.jpg) no-repeat center center;
    background-size: cover;
    min-height: 100vh;
    height: 100vh auto;
    width: 100%;
    position: relative;
    filter:blur(0px);
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.5);
}

.blinking-cursor::after{
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--yellow);
    animation: blinking-cursor 1s infinite;
}

.hero{
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding:6.4rem;
    font-size:2.7rem;   
    color: #fff;
    margin-top:6.5rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    padding-bottom:10rem;
    
    
}
.hero button
{
    background:none;
    color: #fff;
    border: #fff solid 5px;
    padding: 1.5rem 3rem;
    font-size: 1.4rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 50px;
    margin-top:7rem;

}
.hero h1
{
    font-size: 6.2rem;
    font-weight: 800;
    margin-bottom: 1.3rem;
}
.hero p
{
    font-size: 2.7rem;
    font-weight: 500;
    margin-bottom: 2.7rem;
}
.hero button:hover
{
    background: #fff;
    color: #000;
    border: #fff solid 5px;
}
.divider
{
    width: 100%;
    height: 1px;
    background: #fff;
}

.contentWrapper
{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    height:100vh auto;
    background: var(--darkGray);
    flex-wrap:wrap;
    padding-bottom:6vh;
    padding-top:6vh;

}
.contentWrapper .content
{
    width: 20rem;
    height:40vh;
    background-color: var(--lightGray);
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.card {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 65px;
    grid-template-areas: "image" "text";
    border-radius: 18px;
    background-color: var(--bgcol);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    font-family: roboto;
    text-align: center;
    transition: 0.1s ease;
    margin:30px;
}
.card-image {
    grid-area: image;
  }
  .card-text {
    grid-area: text;
  }
  .card-stats {
    grid-area: stats; 
  }
  .card-image {
    grid-area: image;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}
.card-text {
    grid-area: text;
    margin: 25px;
  }
  .card-text .date {
    color: rgb(255, 7, 110);
    font-size:13px;
  }
  .card-text p {
    color: grey;
    font-size:15px;
    font-weight: 300;
  }
  .card-text h2 {
    margin-top:0px;
    font-size:28px;
  }
  #card:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
    cursor:pointer;

  }
  a .card-text h2{
    text-decoration: none;
    color: white;

  }
  a{
    text-decoration: none;
  }
  

.footer
{
    background: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

}
.semifooter{
    background: #090f19;
    width:100%;
    height:15vh;
    display: flex;
    justify-content:center;
    align-items: center;
    
}
.semifooter .icon{
    margin:3rem;
    background-color: var(--darkGray);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    filter:drop-shadow(0 0 0.1rem #fff);
}
.semifooter .icon:hover{
    background-color: var(--yellow);
    transition: 0.5s ease-in-out;
}
.footer p
{
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 1.6rem;
    margin-top:1.6rem;
    
}
.footerText
{
    font-size: 1.4rem;
    font-weight: 500;
}
@media screen and (max-width: 1200px)
{
    .contentWrapper
    {
        padding: 0 5%;
    }
    .contentWrapper .content
    {
        width: 40%;
        height: 40%;
    }

}
@media screen and (max-width: 768px)
{
    .contentWrapper
    {
        padding: 0 5%;
    }
    .contentWrapper .content
    {
        width: 100%;
        height: 40%;
    }

}
