.admin-panel-data{
    display:flex;
    justify-content: center;
    flex-direction: column;
    height:100%;
    width:100%; 
}
.box-wrapper{
    display:flex;
    justify-content: center;
    flex-direction: row;
}
.admin-panel-wrap{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color:rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    width: 100vw;
    padding: 5vh 0;
    position: relative;
}
.admin-panel-data .left, .admin-panel-data .right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}
.admin{
    height: 100vh auto;
    min-height: 100vh;
    color: var(--secondary-text-color);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: var(--primary-color);
    box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.25);
    margin: 10vh 0;
}
.admin h1{
    font-weight: 500;
    font-size: clamp(36px, 5vw, 250px);
    line-height: clamp(44px, 7vw, 260px);
    color: #fff;
    text-shadow: rgba(0,0,0,.25) 0px 8px 0px;
    margin: 5vh 0;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    border-radius: 15px;
    padding: 10vh 0;
    position: relative;
    border-radius: 5px;
}
.admin-panel-data .buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 5vw;
    padding: 5vh 0;
    background-color: aqua;
}
.admin-panel-data .buttons button{
    background-color: var(--primary-color);
    color: var(--secondary-text-color);
    border: 1px solid var(--secondary-text-color);
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}
form.add-movie{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
