@import url('variables.css');
@import url('navbar.css');
@import url('hero.css');
@import url('popular_movies.css');
@import url('footer.css');

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    transition: ease-in-out 0.4s !important; 
}

body{
  background-color: var(--primary-color-dark);
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--primary-color);
}
::-webkit-scrollbar-thumb {
  background: var(--secondary-text-color);
  border-radius: 10px;
}
::selection {
  background: var(--primary-color);
  color: var(--secondary-text-color);
}
.marked{
  font-weight: 700;
}