@import url('variables.css');

footer{
    height: 22vh;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0 -8px 0px 0 rgba(0, 0, 0, 0.37);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--secondary-text-color);
    font-size: clamp(20px,3vh,160px);
}
.footer .left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    font-size: clamp(20px,3vh,160px);
    line-height: clamp(22px,3vh,170px);
}
.footer .center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-size: 20px;
}
.center .socials {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: clamp(10px,2vh,50px);
}
.socials a {
    color: var(--secondary-text-color);
    font-size: clamp(30px,3.2vh,125px);
    background-color: var(--primary-color-dark);
    border-radius: 50%;
    width: clamp(45px,5vh,150px);
    height: clamp(45px,5vh,150px);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: ease-in-out .3s;
}
@media screen and (max-width: 450px) {
    footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2vh;
    }
    
}
