
.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: var(--primary-color);
    color: var(--secondary-text-color);
}
.wrapper .logbox{
    color:#fff;
    width: 400px;
    height: 500px auto;
    background-color: var(--primary-color-dark);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin: 100px auto;
}
.wrapper .logbox h1{
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
    font-weight: 500;
}
form{
    display:flex;
    justify-content: center;
    flex-direction: column;
}
form input{
    width: 100%;
    height: 40px;
    border: 1px solid var(--secondary-text-color);
    border-radius: 5px;
    padding: 0 10px;
    font-weight: 400;
    background-color: var(--primary-color-dark);
    color: var(--secondary-text-color);
    font-size: 1.2em;
    margin: 1.5vh 0;
}
label{
    color: var(--color-nav-text);
    font-size: 1.2em;
    font-weight: 400;
}
form input[type="submit"], form input[type="reset"]{
    cursor: pointer;
    transition: ease-in-out 0.3s;
    background: var(--primary-color);
}
form input[type="submit"]:hover, form input[type="reset"]:hover{
    background: var(--secondary-text-color);
    color: var(--primary-color);
}
.error-message{
    color:red;
    font-size: 1.2em;
    font-weight: 400;
    text-align: center;
}
.create-login{
    text-align: center;
    margin-top: 20px;
}
.back_wrap{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}
.back_wrap a{
    color: var(--secondary-text-color);
    font-size: 1.0em;
    font-weight: 400;
    transition: ease-in-out 0.3s;

}