body{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    display:flex;
    flex-direction:column;
    background: var(--primary-color);
    padding: 50px;
    height: calc( 100% - 25vh);
    width: calc( 100% - 25vw);
}
.container .movie{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    background: var(--primary-color-dark);
}
.container .movie span{
  color: var(--secondary-text-color);
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .movie{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.container .seats-wrapper{
    display:flex;
    justify-content: center;
    align-items: center;
    /*min-width: 100%;
    min-height: 100%;*/
}
.container .seats{
    display: grid;
    height: 100%;
    gap: 10px;
    padding: 25px;
}
  .container input[type="checkbox"] {
    display: none;
  }
  .container label {
    display: block;
    height: 100%;
    width: 100%;
    cursor: pointer;
    background-color: #34ad49;
  }
  
  .container label::before {
    content: attr(data-seat-number);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  } 
  .container input[type="checkbox"]:checked + label{
    background-color: #eec612;
  }
  .container input[type="checkbox"]:disabled + label{
    background-color: #737275;
    cursor: auto;
  }
  span:not(".a"){
    display: block;
    height: 100%;
    width: 100%;
  }
.buttons{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.buttons button{
    display: block;
    padding: 10px 20px;
    width: 33%;
    font-size: 18px;
    color:var(--black);
    background-color: var(--secondary-text-color);
    border: 2.5px solid var(--primary-color-dark);
    border-radius: 5px;
}
