:root{
    --primary-text-color: #f0f0f1;
    --primary-color: #272727;
    --primary-color-dark: #0f0e0e;
    --secondary-text-color: #f0f0f1;
    --button-color: #eb2626;
    --black : #000000;

    /*! rgba */
    
    --primary-color-dark-rgba: rgba(14,15,22,0.35);
    /*
    #444451
    #242333
    */
}