:root{
    --primary-text-color: #fdfdfd;
    --secondary-text-color: #EFA00B;
    --primary-color: #12171d;
    --primary-color-dark: #0e0f16;
    --button-color: #D65108;

    /*! rgba */
    
    --primary-color-dark-rgba: rgba(14,15,22,0.8);
    
}