:root{
    --primary-text-color: #fdfdfd;
    --secondary-text-color: #D8315B;
    --primary-color: #12171d;
    --primary-color-dark: #0e0f16;
    --button-color: #ba3c3a;

    /*! rgba */
    
    --primary-color-dark-rgba: rgba(14,15,22,0.35);
    
}