@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
:root{
    --color-background: #0c0c0c;
    --color-text: #000;
    --font-family: 'Roboto', monospace;
    --font-size: 16px;
    --color-nav: #121213;
    --color-nav-text: #FFFCF2;
    --color-nav-text-hover: #EB5E10;
    --button-background: #EB5E28;
    --logo-color: #EB5E28;
    --button-text: #151413;
}